apiVersion: v1
kind: Service
metadata:
  name: homepage
  namespace: webapps
  annotations:
    service.beta.kubernetes.io/azure-load-balancer-resource-group: "aks-shared"
    service.beta.kubernetes.io/azure-pip-name: "aks-shared-public-ip"
spec:
  selector:
    app: homepage
  ports:
  - protocol: TCP
    port: 80
    targetPort: 3000
  type: LoadBalancer
