@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-horizontal {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/images/background-horizontal.jpg');
  background-size: cover;
  background-position: center;
}

.bg-vertical {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/images/background-vertical.jpg');
  background-size: cover;
  background-position: center;
}
