@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'futura-pt', sans-serif;
  color: white;
}

/**
 * Utility classes for background images with horizontal and vertical gradients.
*/
@layer utilities {
  .bg-horizontal {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/images/background-horizontal.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
  }

  .bg-vertical {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/images/background-vertical.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
  }
}
