name: Docker Build & Push to GHCR

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  docker:
    uses: KotaHusky/cicd-toolkit/.github/workflows/docker-ghcr.yml@main
    with:
      push: ${{ github.event_name == 'push' }}
    permissions:
      contents: read
      packages: write
